@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 200;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Black.ttf);
    font-weight: 700;
}
*{
    font-family: Roboto;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}
.header{
    background: #323133;
}
.menu ul{
    list-style: none;
    margin: 0px;
}
.menu ul li{
    display: inline-block;
    padding: 18px 0px;
}
.menu ul li a{
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0px 20px;
}
.language{
    text-align: right;
    margin-right: 60px;
}
.language ul{
    list-style: none;
    margin: 0px;
}
.language ul li{
    display: inline-block;
    padding: 18px 0px;
}
.language ul li a{
    color: #fff;
    padding: 0px 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}
.service{
    padding: 32px 0px;
    border-bottom: 1px solid #909092;
}
.menu-service{
    text-align: right;
}
.menu-service ul{
    list-style: none;
}
.menu-service ul li{
    display: inline-block;
}
.menu-service ul li a{
    color: #909092;
    text-decoration: none;
    padding: 0px 26px;
    font-size: 18px;
}
.mobile-menu-service{
    display: none;
    margin-top: -5px;
}
.mobile-menu-service ul{
    list-style: none;
    text-align: left;
}
.mobile-menu-service ul li{
    display: inline-block;
}
.mobile-menu-service ul li a img{
    width: 30px;
    height: 30px;
}
.dropdown-menu li{
    width: 100%;
}
.dropdown-menu li a{
    color: #909092;
}
.menu-products ul{
    list-style: none;
    margin: 0px;
}
.menu-products ul li{
    display: inline-block;
}
.menu-products ul li a{
    color: #909092;
    text-decoration: none;
    padding: 0px 15px;
    font-size: 18px;
}
.padding-left{
    padding-left: 0px ;
}
.products{
    padding: 32px 0px;
    border-bottom: 1px solid #909092;
}
.main-menu ul{
    list-style: none;
}
.main-menu ul li{
    display: inline-block;
    padding: 35px 0px;
}
.main-menu ul li a{
    color: #323133;
    font-size: 18px;
    padding: 0px 28px;
    text-decoration: none;
}
.deactive{
    color: #909092 !important;
}
.img-products{
    padding: 15px 0px;
}
.content-contact{
    background: #f6f6f6;
    padding: 45px 0px 30px 0px;
}
.text-contact p, .text-contact h4, .text-contact a{
    font-size: 18px;
    color: #323133;
    font-weight: 300;
    text-decoration: none;
}
.menu-footer{
    text-align: center;
}
.menu-footer ul{
    list-style: none;
    margin: 0px;
}
.menu-footer ul li{
    display: inline-block;
    padding: 20px 0px;
}
.menu-footer ul li a{
    color: #323133;
    font-size: 12px;
    text-decoration: none;
    padding: 0px 44px;
}
.menu-details ul{
    list-style: none;
    margin: 0px;
}
.menu-details ul li{
    display: inline-block;
    padding: 40px 0px;
}
.menu-details ul li a{
    color: #909092;
    text-decoration: none;
    padding: 0px 7px;
    font-size: 18px;
}
.target{
    color: #000000 !important;
}
.item-img{

}
.padding-b-30{
    padding-bottom: 30px;
}
.item-img img{
    width: 100%;
}
.img-details{
    height: 965px;
    overflow-y: scroll;
}
.select-form{
    width: 90%;
    border: 5px solid #d7d7d6;
    padding: 8px 15px;
    font-size: 20px;
    color: #d7d7d6;
    background: url('../img/arrow.png') no-repeat;
    background-position: 141px 13px;
}
.select-form option{
    font-size: 20px;
    color: #d7d7d6;
}
.colour1, .colour2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-bottom: 50px;
}
.colour1{
    background: #d7d7d6;
}
.colour2{
    background: #323133;
    margin-left: 25px;
}
.content-details{
    padding-left: 35px;
    padding-top: 45px;
    padding-right: 65px;
}
.btn-cart button{
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    background: #f2d6c9;
    border: 0px;
    padding: 10px 19px 7px 19px;
    font-size: 15px;
}
.btn-socials{
    margin-top: 3px;
}
.btn-socials button{
    text-transform: uppercase;
    color: #2c46b9;
    border: 2px solid #2c46b9;
    background: #fff;
    font-weight: 500;
    padding-top: 6px;
    padding-bottom: 4px;
    width: 77px;
    transition-duration: 0.5s;
}
.btn-socials button:hover{
    background: #2c46b9;
    color: #fff;
}
.btn-socials button:first-of-type{
    margin-right: 5px;
}
.info-details p{
    font-size: 18px;
    color: #909092;
    padding-right: 14px;
    margin: 40px 0px;
}
.info-details h3{
    color: #f2d6c9;
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 40px;
}
.info-product{
    margin-bottom: 25px;
}
.info-product h5, .colour h5{
    color: #909092;
}
.colour h5{
    margin-bottom: 15px;
}
.title-guide{
    margin-top: 85px;
}
.title-guide h4{
    text-decoration: underline;
    color: #909092;
    font-weight: 300;
    text-transform: uppercase;
}
.content-guide{
    margin-top: 85px;
}
.content-guide p{
    color: #909092;
}
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
.title-cart{
    border-bottom: 1px solid #323133;
    padding: 30px 0px 20px 0px;
}
.title-cart h1{
    font-weight: 300;
}
.title-item-cart{
    border-bottom: 1px solid #909092;
    padding: 10px 0px;
}
.img-cart img{
    width: 88%;
}
.price-one{
    text-align: right;
}
.price-one ul{
    list-style: none;
}
.price-one ul li{
    display: inline-block;
    padding: 0px 15px;
}
.price-one ul li p{
    font-size: 18px;
    margin: 0px;
    font-weight: 200;
}
.price-one ul li:last-of-type{
    width: 16%;
    padding-left: 0px !important;
    padding-right: 0px;
}
.price-one ul li input{
    width: 100%;
    border: 2px solid #a7a5a6;
    border-radius: 5px;
    padding: 1px 6px;
    margin-top: -1px;
}
.info-cart p, .info-cart h4{
    font-size: 18px;
}
.info-cart p{
    font-weight: 200;
    line-height: 1.1;
}
.info-cart h4{
    margin: 0px;
}
.info-cart button{
    color: #909092;
    border: 2px solid #909092;
    background: #fff;
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
}
.info-cart button:first-of-type{
    padding: 4px 24px;
}
.info-cart button:last-of-type{
    padding: 4px 10px;
}
.info-cart h3{
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 0px;
}
.price-one-product h4{
    margin-top: 3px;
    text-align: right;
}
.cart-products{
    padding: 20px 0px 35px 0px;
    border-bottom: 1px solid #909092;
}
.cost{
    border-bottom: 1px solid #909092;
    padding: 10px 0px 5px 0px;
}
.title-cost h4, .title-cost h5{
    font-size: 18px;
    font-weight: 500;
}
.title-cost h4{
    color: #a7a5a6;
}
.title-cost h5{
    color: #d7d7d6;
}
.all-cost h4{
    color: #3e3e3c;
    text-align: right;
}
.check-out{
    padding: 32px 0px;
    border-bottom: 1px solid #909092;
}
.btn-check-out button{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 12px 22px;
    background: #d46056;
    border: 0px;
}
.title-like h4{
    color: #909092;
    font-weight: 200;
    margin-bottom: 30px;
}
.img-might-like, .item-might-like{
    margin: 0px 23px;
}
.margin-l0{
    margin-left: 0px;
    margin-right: 46px;
}
.margin-r0{
    margin-right: 0px;
    margin-left: 46px;
}
.img-might-like img{
    width: 100%;
}
.item-might-like p{
    color: #909092;
    margin-top: 10px;
}
.might-like{
    padding: 20px 0px 50px 0px;
}
.payment-form{
    width: 100%;
    font-size: 18px;
    padding: 6px 18px;
    border-radius: 12px;
    border: 1px solid #323133;
    margin-bottom: 25px;
}
select.payment-form{
    background: #d7d7d6;
    border: 1px solid #d7d7d6;
}
.field{
    margin-bottom: 5px;
}
.field label{
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 500;
}
.div-form{
    padding: 40px 0px 10px 0px;
    border-bottom: 1px solid #323133;
}
.uncheck.checked{
    background: #323133;
}
.uncheck{
    background: #d7d7d6;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 15px;
}
.radio-method input{
    display: none;
}
.text-method p{
    font-size: 18px;
    color: #a7a5a6;
}
.text-method p span{
    font-style: italic;
    font-weight: 200;
}
.text-active.text-method p{
    color: #323133;
}
.payment-method{
    padding: 30px 0px 20px 0px;
    border-bottom: 1px solid #909092;
}

.table-bordered{
    border: 0px;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border-bottom: 0px;
}
.border-t0 td{
    border-top: 0px !important;
}.border-b0 td{
    border-bottom: 0px !important;
}
.table thead tr th{
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 18px;
    color: #323133;
}
.table tbody tr td{
    padding-top: 20px ;
    padding-bottom: 30px ;
    font-size: 15px;
    color: #909092;
    font-weight: 200;
}
.table-payment{
    padding: 20px 0px;
    border-bottom: 1px solid #909092;
}
.fill-discount{
    text-align: right;
}
.fill-discount label{
    color: #323133;
    font-size: 18px;
}
.form-discount{
    border: 1px solid #a7a5a6;
    border-radius: 12px;
    padding: 7px 10px;
    margin-left: 15px;
}
.btn-use{
    margin-left: 15px;
    color: #fff;
    border: 1px solid #d7d7d6;
    border-radius: 7px;
    background: #d7d7d6;
    padding: 5px 31px;
    font-size: 18px;
}
.discount{
    padding: 16px 0px;
    border-bottom: 1px solid #909092;
}
.bill h4{
    font-weight: 300;
    color: #909092;
}
.bill p{
    color: #f2d6c9;
    font-size: 18px;
}
.bill.all h4{
    color: #323133;
}
.bill.all p{
    color: #d46056;
}
.bill{
    padding: 5px 0px 10px 0px;
}
.btn-pay{
    text-align: right;
    padding-top: 5px;
}
.btn-pay button{
    border: 2px solid #d46056;
    border-radius: 12px;
    font-size: 18px;
    padding: 8px 20px;
    background: #fff;
    color: #d46056;
}
.info-bank p{
    color: #909092;
    font-size: 13px;
}
.pay-bill{
    padding: 22px 0px 52px 0px;
    border-top: 1px solid #909092;
}
.thanks{
    padding: 35px 0px 60px 0px;
}
.thanks h1{
    font-weight: 200;
    font-size: 35px;
    color: #d7d7d6;
}
.thanks p{
    font-weight: 200;
    font-size: 35px;
    color: #ffd7ca;
    margin-top: 60px;
    margin-bottom: 50px;
}
.thanks button{
    font-size: 18px;
    color: #909092;
    border: 1px solid #909092;
    background: #fff;
    border-radius: 9px;
    padding: 7px 20px;
}
.lookbook1_alt{
    background: #323133;
    padding-bottom: 190px;
}
.title-lookbook{
    padding-top: 30px;
}
.title-lookbook h1{
    color: #fff;
    font-weight: 300;
}
.years h1{
    color: #fff;
    font-weight: 100;
}
.years{
    padding: 50px 0px 35px 0px;
    border-bottom: 1px solid #d7d7d6;
}
.text-img{
    margin-top: -65px;
    padding-left: 25px;
}
.text-img p{
    color: #323133;
    font-size: 18px;
    opacity: 0;
    transition-duration: 0.5s;
}
.img-lookbook img{
    width: 100%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 1;
}
.img-lookbook:hover{
    background: #ffd7ca;
}
.img-lookbook:hover img{
    opacity: 0.5;
}
.img-lookbook:hover .text-img p{
    opacity: 1;
}
.margin-l8{
    margin-left: 8px;
}
.margin-r8{
    margin-right: 8px;
}
.item-lookbook{
    padding: 23px 0px;
}
.padding-lookbook{
    padding-top: 23px;
}
.item-lookbook1 img{
    width: 100%;
}
.text-slide-lookbook{
    color: #fff;
    margin-bottom: -287px;
    position: relative;
    z-index: 1000;
    padding-left: 8.33333%;
}
.text-slide-lookbook h1{
    margin: 45px 0px 98px 0px;
    font-weight: 300;
}
.text-slide-lookbook h2{
    margin-top: 25px;
    font-weight: 500;
}
.hr{
    border: 2px solid #fff;
    width: 25px;
}
.slick-next:before, .slick-prev:before{
    font-size: 0px;
}
.slick-arrow{
    z-index: 1000;
}
.slide-lookbook1 .slick-prev{
    background: url('../img/left-arrow-copy.png') no-repeat !important;
    left: 130px;
    width: 48px;
    height: 48px;
}
.slide-lookbook1 .slick-next{
    background: url('../img/left-arrow.png') no-repeat !important;
    right: 130px;
    width: 48px;
    height: 48px;
}
.lookbook1_alt_details{
    background: #323133;
}
.back-tab a{
    color: #fff;
    font-weight: 100;
    font-size: 18px;
    text-decoration: none;
}
.back-tab{
    padding: 85px 0px 45px 0px;
    border-bottom: 1px solid #d7d7d6;
}
.text-title-lookbook_alt_details h1{
    font-size: 35px;
    font-weight: 100;
    color: #fff;
}
.item-lookbook1_alt_details img{
    width: 80%;
    margin: auto;
}
.slide-lookbook1_alt_details{
    margin: 60px 60px 45px 60px;
}
.slide-lookbook1_alt_details .slick-prev{
    background: url('../img/left.png') no-repeat !important;
    left: -55px;
}
.slide-lookbook1_alt_details .slick-next{
    background: url('../img/right.png') no-repeat !important;
    right: -55px;
}
.content-img-lookbook{
    display: none;
    padding-bottom: 140px;
}
.content-img-lookbook img{
    width: 100%;
}
.content-about_us h2{
    color: #909092;
    font-size: 35px;
    font-weight: 200;
    margin: 35px 0px;
}
.content-about_us{
    padding: 20px 0px 15px 0px;
}
.each-img img{
    width: 100%;
}
.margin-r26{
    margin-right: 26px;
}
.img-about_us{
    padding-bottom: 70px;
}
.title-language1{
    background: #323133;
}
.title-language2{
    background: url('../img/Layer-6-copy.png');
    background-size: cover;
}
.padding-right{
    padding-right: 0px;
}
.title-language1 h2, .title-language2 h2{
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    padding: 360px 0px;
    margin: 0px;
}
.each-img1 img{
    width: 91%;
}
.img-products img{
    width: 100%;
}
@media (max-width: 991px){
    .wrapper{
        overflow: hidden;
    }
    .table-payment{
        overflow-x: scroll;
    }
    .table{
        width: 855px;
    }
    .check-out{
        overflow: hidden;
    }
    .fill-discount{
        text-align: left;
    }
    .form-discount, .btn-use{
        margin-left: 0px;
    }
    .form-discount{
        margin-bottom: 10px;
    }
    .btn-pay{
        text-align: left;
    }
    .content-details{
        padding-left: 15px;
        padding-right: 15px;
    }
    .select-form{
        background: none;
    }
    .btn-socials {
        margin-top: 40px;
    }
    .content-guide {
        margin-top: 10px;
    }
    .text-slide-lookbook{
        margin-bottom: -139px;
    }
    .text-slide-lookbook h1{
        margin: 5px 0px; 
    }
    .text-slide-lookbook h2{
        margin-top: 10px;
    }
    .slide-lookbook1 .slick-prev{
        left: 5%;
    }
    .slide-lookbook1 .slick-next{
        right: 5%;
    }
    .text-img{
        margin-top: -84px;
    }
    .margin-r8, .margin-l8{
        margin: 0px;
    }
    .item-lookbook{
        padding: 0px;
    }
    .img-lookbook{
        margin: 13px 0px;
    }
    .text-title-lookbook_alt_details h1{
        text-align: left;
    }

    .padding-res-0{
        padding: 0px;
    }
    .price-one ul li{
        padding: 0px;
    }
    .price-one ul li:last-of-type{
        width: 8%;
    }

    .price-one-product h4{
        text-align: center;
        margin-top: 24px;
    }
    .title-cost{
        text-align: center;
    }
    .all-cost h4{
        text-align: center;
    }
    .img-might-like, .item-might-like{
        text-align: center;
    }
    .img-might-like{
        margin: 0px;
    }
    .item-might-like{
        margin-left: 0px;
        margin-right: 0px;
    }
    .main-menu ul li{
        display: block;
        padding: 12px 0px;
    }
    .padding-rest-right-25{
        padding-right: 25px;
    }
    .width-product-rest{
        text-align: right;
    }
    .width-product-rest img{
        width: 84%;
    }
    .menu-products ul li a{
        padding: 0px 4px;
    }
    .text-contact{
        text-align: left;
        padding-left: 20px;
    }
    .price-one-product h4{
        margin-top: 6px;
    }
}
@media (max-width: 767px){
    .padding-rest-right-25{
        padding-right: 0px;
    }
    .cart-products{
        text-align: left;
    }
    .price-one ul li:last-of-type{
        width: 25%;
    }
    .width-product-rest img{
        width: 100%;
    }
    .price-one-product h4{
        margin-top: 24px;
    }
    .menu ul li a{
        padding: 0px 6px;
    }
    .language{
        margin-right: 0px;
    }
    .language ul li a{
        padding: 0px 3px;
    }
    .mobile-menu-service{
        display: block;
    }
    .menu-service{
        text-align: left;
        margin-top: 10px;
    }
    .menu-service ul li{
        display: inline-block;
        width: 48%;
    }
    .menu-service ul li a{
        padding: 0px;
    }
    .menu-service ul li{
        padding: 5px 0px;
    }
    .menu-products{
        display: none;
    }
    .text-contact p, .text-contact h4, .text-contact a{
        font-size: 14px;
    }
    .text-contact{
        text-align: left;
        padding-left: 10px;
    }
    .price-one{
        text-align: center;
        padding-left: 15px;
        margin-top: 20px;
    }
    .padding-right{
        padding-left: 0px;
    }
    .padding-left{
        padding-right: 0px;
    }
    .title-language1 h2, .title-language2 h2{
        padding: 22vh 0px;
    }
    .info-cart h4{
        margin-top: 20px;
    }
    .img-cart{
        text-align: center;
    }
}
@media (max-width: 1199px){
    .menu-products ul li a{
        padding: 0px 3px;
    }
    .each-img{
        text-align: right;
    }
    .each-img img{
        width: 98%;
    }
}
